@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Rokkit', sans-serif;
}
.html{
    scroll-behavior: smooth;
}

.body{
    font-size: 18px;
    line-height: 20px;
    background-color: white;
}
.a{
    color:turquoise;
    font-weight: 500;
}
a:hover{
    color:tomato;
}
.header-background{
    position: static;
    display: block;
    overflow: visible;
    top: 0;
    height: auto;
    margin-bottom: 50px;
    flex-direction: column;
    white-space: normal;
}
.carousel-inner{
    border-radius: 8em;
}
.column-right .section-title{
    padding: 5rem 2rem 0rem 0rem;
    color:#89c290 ;
    text-transform: uppercase;
    -webkit-text-stroke: 0.2px #000;
    font-size: 31px;
    font-weight: bolder;
}
.column-right .paragraph{
    margin-top: 15px;
    padding: 1rem 3rem 1rem 0rem;
    line-height: 1.4;
    text-align: justify;
    color: #000;
    font-size: 1.1em;
    font-weight: 500; 
}
.column-right{
    padding-left: 100px;
}
.fonttext{
    padding-top: 15px;
    font-family: 'Poppins', sans-serif;
}
.para{
    font-family:'Poppins', sans-serif;
    line-height: 25px;
    padding: 7px 15px 5px 15px;
}

    


  
