@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Rokkit', sans-serif;
    position: static;
}
.html{
    scroll-behavior: smooth;
}

.body{
    font-size: 18px;
    line-height: 20px;
    background-color: white;
}
.a{
    color:turquoise;
    font-weight: 500;
}
a:hover{
    color:tomato;
}
.f4{
  text-align: justify;
  padding-right: 60px;
  padding-top: 25px;
}

