@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@100;200;300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rokkit', sans-serif;
}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    position: left;
    width: 242px;
    height: 42px;
    position: relative;
}
header ul{
    position: relative;
    display: flex;
}
header ul li{
    list-style: none;
    z-index: 100;
}
header ul li:hover{
    background: rgba(0,0,0,.15);
}
header ul li:hover > ul{
    display: block;
}
header ul li{
    float: left;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
header ul li a{
    display: inline-block; 
    padding: 6px 10px;
    color: #222; 
    text-decoration: none;
}
header ul ul{
    display: none;
    background: #d3eae1;
    position: absolute; 
    top: 100%;
    box-shadow: -3px 3px 10px -2px rgba(0,0,0,.1);
    border: 2px solid #cbe5d5;
}
header ul ul li{
    float: none; 
    position: relative;
}
header ul ul li a {
    padding: 6px 10px; 
    border-bottom: 3px solid rgba(0,0,0,.05);
}
header ul ul ul {
    position: absolute; 
    left: 100%; 
    top:0;
}
.box{
    display: flex;
    top: 0;
    left: 0;
    align-items: center;
    align-content: center; 
    justify-content: center; 
    overflow: auto;   
}

.box .content{
    padding-left: 40px;
}
.run{
    color:#89c290 ;
    text-transform: uppercase;
    -webkit-text-stroke: 0.2px #000;
    font-size: 31px;
    font-weight: bolder;
}
.so{
    margin-top: 10px;
    color: #000;
    font-size: 1.1em;
    font-weight: 500;   
}
#carouselExampleFade{
    width: 43em;
    flex: 0 0 43em;
    border-radius: 20em;
    margin-right: 50px;
    margin-top: 40px;
  }
.carousel-inner{
    border-radius: 10em;
}
footer{ 
    margin-top: 50px; 
    background-color: lightgrey; 
} 
footer section{ 
    background-color: #F3EEED; 
}



  
