@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@100;200;300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rokkit', sans-serif;
}
section{
    position: relative;
    width: 100%;
    padding: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    position: left;
    width: 242px;
    height: 42px;
    position: relative;
}
header ul{
    position: relative;
    display: flex;
}
header ul li{
    list-style: none;
    z-index: 100;
}
header ul li a{
    display: inline-block;
    color: #333;
    text-decoration: none;
}
header ul li:hover{
    background: rgba(0,0,0,.15);
}
header ul li:hover > ul{
    display: block;
}
header ul li{
    float: left;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
header ul li a{
    display: inline-block; 
    padding: 6px 10px;
    color: #222; 
    text-decoration: none;
}
header ul ul{
    display: none;
    background: #d3eae1;
    position: absolute; 
    top: 100%;
    box-shadow: -3px 3px 10px -2px rgba(0,0,0,.1);
    border: 2px solid #cbe5d5;
}
header ul ul li{
    float: none; 
    position: relative;
}
header ul ul li a {
    padding: 6px 10px; 
    border-bottom: 3px solid rgba(0,0,0,.05);
}
header ul ul ul {
    position: absolute; 
    left: 100%; 
    top:0;
}
.box{
    display: flex;
    top: 0;
    left: 0;
    align-items: center;
    align-content: center; 
    justify-content: center; 
    overflow: auto;   
}
.imgBox img{
    width: 53em;
    flex: 0 0 53em;
    border-radius: 10em;
}	
.box .content{
    padding-left: 40px;
}
.run{
    color:#89c290 ;
    text-transform: uppercase;
    -webkit-text-stroke: 0.2px #000;
    font-size: 31px;
    font-weight: bolder;
}
.so{
    margin-top: 10px;
    color: #000;
    font-size: 1.1em;
    font-weight: 500;   
}
.container{
    width: 1020px;
    margin: 0 auto;
}
#recipescontainer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.recipe img{
    width: 300px;
    height: 300px;
    margin-top: 50px;
}
.recipe.hide{
    display: none;
}


.buttons{
    display: flex;
    justify-content: center;
}
.carouselcontainer{
    width: 50%;
    margin: 0 auto;
}
.carouselcontainer h5{
    font-size: 30px;
    color: #89c290;
    font-family: sans-serif;
}
.carousel-inner{
    height: 50vh;
    border-radius: 8em;
    overflow: hidden!important;
}
.main{
    margin-top: 40px;
}
.buttons button{
    background-color: #89c290;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.recipe h1{
    font-size: 15px;
}
.recipe img:hover{
    background-color: black;
}
.searchcontainer{
    display: flex;
    justify-content: center;
    
}
.searchcontainer input[type=text]{
    width: 70%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}
.main2{
    margin-top: 40px;
}
.products{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 80px;
}
.products li{
    text-decoration: none;
    list-style: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}
footer{
    margin-top: 50px;
    background-color: lightgrey;
}
footer section{
    background-color: #F3EEED;
}
@media screen and (max-width: 992px)
{
    .products{
        display: flex;
        justify-content: center;
        
    }
    .elastic{
        width: 60%;
        margin: 0 auto;
        font-size: 30px;
        text-align: center;
    }
    #elastic.search{
        width: 100%;
        height: 100px;
        font-size: 20px;
    }
    footer section{
        width: 100%;
        
    }
    .carouselcontainer {
        width: 100vw;
        margin: 0 auto;
    }
    left carousel-control{
    background-image: none;
}
    .logo img{
        position: left;
        width: 342px;
        height: 62px;
        position: relative;
    }
    .navbar{
        width: 100%;
    }
}
.navbar-toggler{
    width: 30px;
    height: 30px;
    background-image: url(img/burger.png);
    background-size: cover;
    border: none;
}
@media screen and (max-width: 576px)
{
    
    .products{
        display: flex;
    }
    .container{
        width: 100%;
    }
    .elastic{
        width: 60%;
        margin: 0 auto;
        font-size: 15px;
        text-align: center;
    }
    #elastic.search{
        height: 60px;
        font-size: 15px;
        width: 90%;
    }
    footer section{
        width: 100%;
        
    }
    .carouselcontainer {
        width: 100vw;
        margin: 0 auto;
    }
    .logo img{
        position: left;
        width: 342px;
        height: 62px;
        position: relative;
    }
    .navbar{
        width: 100%;
    }
}
@media screen and (max-width: 774px)
{
    #recipescontainer{
        justify-content: center;
    }
   
}
.proteins{
    background-image: url(img/grid/proteins.png);
    height: 45vh;
    background-size: cover;
}
.carbs{
    background-image: url(img/grid/carbs.jpg);
    height: 45vh;
    background-size: cover;
}
.fats{
    background-image: url(img/grid/fats.jpg);
    height: 45vh;
    background-size: cover;
}
.col-md-12 p{
    text-align: center;
    padding: 10px;
}
.a{
    color:turquoise;
    font-weight: 500;
  }
  a:hover{
    color:tomato;
  }
  .header-background{
    position: static;
    display: block;
    overflow: visible;
    top: 0;
    height: auto;
    margin-bottom: 50px;
    flex-direction: column;
    white-space: normal;
  }
  
  
.thing {
    margin-left: 20px;
    margin-right: 20px;
    padding: 1rem;
    width: 100%;
    box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
      0 5px 15px 0 rgba(0,0,0,0.08);
    background-color: #ffffff;
    border-radius: 0.5rem;
    
    border-left: 0 solid #00ff99;
    transition: border-left 300ms ease-in-out, padding-left 300ms ease-in-out;
  }
  
  .thing:hover {
    padding-left: 0.5rem;
    border-left: 0.5rem solid #00ff99;
  }
  
  
  
  .heading {
    color: #fff;
  }
  

#run, #run-1, #run-2, #run-3, #run-4{
    color:#89c290 ;
    text-transform: uppercase;
    -webkit-text-stroke: 0.2px #000;
    font-size: 35px;
    font-weight: bolder;
}
.PIE{
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 30px;
    color: #000;
    font-size: 35px;
    font-weight: bold; 
}
.PIE1{
    margin-top: 10px;
    margin-right: 30px;
    margin-left: 30px;
    color: #000;
    font-size: 1.1em;
    font-weight: 500;   
}
#so, #so1, #so2, #so3, #so4{
    margin-top: 15px;
    color: #000;
    font-size: 1.1em;
    font-weight: 500;   
}
.content{
    padding-left: 90px;
}
.button-17, .button-18,.button-19,.button-20,.button-26,.button-25,.button-26 {
    align-items: center;
    appearance: none;
    background-color: #fff;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3c4043;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform,opacity;
    z-index: 0;
   margin-top: 20px;
  }
  
  .button-17, .button-18,.button-19,.button-20,.button-26,.button-25,.button-26 :hover {
    background: #F6F9FE;
    color: #89c290;
  }
  
  .button-17, .button-18,.button-19,.button-20,.button-26,.button-25,.button-26 :active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
  }
  
.button-17, .button-18,.button-19,.button-20,.button-26,.button-25,.button-26 :focus {
    outline: none;
    border: 2px solid #89c290;
  }
  .button-17, .button-18,.button-19,.button-20,.button-26,.button-25,.button-26 :not(:disabled) {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
  }
  
  
  .button-17, .button-18,.button-19,.button-20,.button-26,.button-25,.button-26 :not(:disabled):hover {
    box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
  }
  
.button-17, .button-18,.button-19,.button-20,.button-26,.button-25,.button-26 :not(:disabled):focus {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
  }
  
 .button-17, .button-18,.button-19,.button-20,.button-26,.button-25,.button-26 :not(:disabled):active {
    box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
  }
  
  
.button-17, .button-18,.button-19,.button-20,.button-26,.button-25,.button-26 :disabled {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
  }


  .column-right .paragraph{
    margin-top: 15px;
    padding: 1rem 3rem 1rem 0rem;
    line-height: 1.4;
    text-align: justify;
    color: #000;
    font-size: 1.1em;
    font-weight: 500; 
  }
  .column-right{
    padding-left: 100px;
  }
  .fonttext{
    padding-top: 15px;
    font-family: 'Poppins', sans-serif;
  }
  .para{
    font-family:'Poppins', sans-serif;
    line-height: 25px;
    padding: 7px 15px 5px 15px;
  }

